{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'left-nav-style.css' %}">

    <title>Анализ профессии Системный Администратор</title>
</head>

<body>
    <header id="app-header" class="app-header">

    <div class="background-container">
      <div id="background-back" class="background"></div>
      <div id="background-front" class="background"></div>
    </div>

    <div class="header-content">
      <div id="large-toolbar" class="app-toolbar tall">
        <div id="large-title" class="large-title">SysAdmin Insight</div>
      </div>
    </div>
  </header>

    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <h2 class="logo">
            <span>Навигация</span>
        </h2>
        <ul>
            {% for article in articles %}
                <li><a href="{{ article.get_absolute_url }}">{{article.title}}</a>
            {% endfor %}
            <li><a href="{% url 'last_jobs' %}">Последние вакансии</a>
        </ul>
    </nav>
    <main role="main">
        {% block content %} {% endblock %}
    </main>
    <footer>
        <div>
          <ul>
              <li><span>Филиппов Данил Андреевич РИ-220935</span></li>
              <li><a href="https://github.com/DanilFilippov123">Github</a></li>
              <li>
              <p>👋</p>
            </li>
          </ul>
        </div>
    </footer>
</body>

</html>